.carousel{
    padding: 5px 0 25px 23px;
    width: 312px;
    height: 416px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin: 0 0 38px 0;
}

.carousel img {
    width: 288px;
    height: 334px;
    border-radius: 6px;
}